<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><?php echo isset($title_for_layout) ? $title_for_layout : ''?></title>
        <?php $this->load->view('includes/templates/metronics/include_meta.php'); ?>
        <?php $this->load->view('includes/templates/metronics/include_css.php'); ?>
        <?php $this->load->view('includes/templates/metronics/include_favicon.php'); ?>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
        <div id="loading" hidden> {{ message }} </div>
        <?php $this->load->view('components/flash_message.php'); ?>
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <!--<img src="../assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" />-->
					</a>
                </div>
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <?php $this->load->view('components/content.html.php'); ?>                    
                </div>
                <!-- END CONTENT BODY -->
            </div>
            
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER
        <div class="page-footer">
            <div class="page-footer-inner"> 2014 &copy; Metronic by keenthemes.
                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div> -->
        <?php $this->load->view('includes/templates/metronics/include_js.php'); ?> 
    </body>
</html>